

#header{
    box-shadow: 0 10px 25px -2px rgba(0,0,0,.2);
    position: fixed;
    width: calc(100% - 246px);
    background-color: white;
    float: right;
    padding: 10px;
    margin-top: 1%;
    border-radius: 3px;
    left: 243px;
    z-index: 100;

}

.dropdown-menu{
    margin-top: 5px;
    overflow: auto;
   max-width: 200px;
   max-height: 400px;
}
#img-header{
    border-radius: 50%;
    float: right;
    position: relative;
}
#img-header img{
    border-radius: 50%;

}
#dropdownbutton button{float: right}
#dropdownbutton {
    float :left;
    display: none;
}

@media screen and (max-width: 760px){
    #dropdownbutton {

        display: inline-block;
    }


    #header {
        width: 100%;
        left: 0;
        margin: 0;
        display: inline-block;
    }
    #header img {
        display: inline-block;
    }
    #header p {
        display: none;
    }
}
#nofication{
    position: relative;
    float: left;
    font-size: 20px;
    color: #0b5ed7;
    margin-left: 3px;
    margin-top: 6px;
}
#savetest{
    margin-right: 10px;
    position: relative;
    float: left;
    font-size: 20px;
    color: #0b5ed7;
    margin-top: 6px;
    margin-left: 3px;

}

#username
{color: #1a202c;
    float: right ; margin-top: 0.5% ;padding: 2px ;font-size:large;
}
#fullscreen

{position: relative;
    color: #1a202c;
    float: right;
    right: 15px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    top: -3px;}
#fullscreenitem{

    width: 30px;
    height: 30px;
}
#header img{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    float: right;
    justify-content: center;
    margin-right:5px ;
}
#header #lang {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 10px;
    width: 50px;
    height: 40px;

}


#header p{
    position: absolute;
    display: inline-block;
    margin-top: 1%;
    font-size: large;
    font-weight: bold;
}

@media screen and (max-width: 400px)
{    #header img{
    width: 30px;
    height: 30px;
    margin-top: 3px;

}
    #header img{
        width: 30px;
        height: 30px;

    }
    #username{
        position: relative;
        font-size: small;
        margin-top: 6px;
    }
    #fullscreen{
        position: relative;
        font-size: x-large;
    margin-top: 2px;
    }

    #nofication{
        position: relative;
        font-size: x-large;
        margin-top: 0px;

    }
    #savetest{
        position: relative;
        font-size: x-large;
margin-top: 0px;
    }

    #header #lang {
        margin-top: 3px;
        width: 20px;
        height: 30px;

    }
    #header #lang p {
    margin-top: -5px !important;
    margin-left: -10px !important;
}


}
